*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Poppins', sans-serif;
}

header{
    height: 100vh;
    color: rgb(255, 255, 255);
    background: var(--background1);
}

footer{
    background-color: var(--background1);
    color: white;
}

li{
    vertical-align: middle;
}

#languages{
    background-color: var(--background1);
    color: white;
    text-align: center;
}

#languages .container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    align-content: space-around;
}

#languages .ML{
    width: 80%;
    text-align: center;
}

.container-modules{
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.n-container-languages{
    display: flex;
    width: 45%;
    height: 260px;
    align-content: center;
    border-style: solid;
    border-color: white;
    border-radius: 10%;
    box-shadow: 5px 5px rgb(255, 255, 255, 0.3);
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: var(--background1);

}

#languages .n-container-languages img{
    max-width: 180px;
    width: 80%;
}

.head{
    padding: 0;
    height: 100%;
    display:flex ;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}



.head img{
    max-width: 300px;
    width: 80%;
    border-radius: 50%;
}


#smalldesc .smalldesc{
    margin-top:100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.text{
    min-width: 200px;
}

.smalldesc img{
    width: 80%;
    max-width: 400px;
}

.smalldesc .text{
    width: 40%;
    padding-left: 20px;
}

footer img{
    height: 50px;
}

#acerca-nosotros .container{
    text-align: center;
}

#proyects_actual .container{
    text-align: center;
}

.btnRedirect{
    margin-top: 20px;
    position: absolute;
    display: block;
    right: 50%;
    transform: translateX(50%);
}


:root{
    scroll-behavior: smooth;
    --background1: black
}

@media screen and (max-width: 750px) {

    .smalldesc .text{
        width: 80%;
    }

    .smalldesc{
        flex-direction: column;
        gap: 50px;
    }
    
    .container-modules{
        gap: 30px;
    }


    .n-container-languages{
        width: 80%;
        height: auto;
    }
}